* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.top {
    color: white;
    background-color: black;
    height: 15vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.torso {
    display: grid;
    grid-template-columns: 15% 85%;
    background-color: grey;
    height: 85vh;
}

.torso-lateral {
    background-color: white;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tab {
    width: 80%;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab:hover {
    background-color: #495057;
}

.torso-central {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.content {
    display: none;
}

.content.active {
    display: block;
}

.box {
    background-color: #e9ecef;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box p {
    margin: 0;
}

/* Estilo para ocultar la barra de desplazamiento en el contenedor de contenido */
.torso-central {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: auto; /* Habilita el desplazamiento */
}

/* Estilo para ocultar la barra de desplazamiento en navegadores Webkit (Chrome, Safari) */
.torso-central::-webkit-scrollbar {
    width: 0; /* Oculta la barra de desplazamiento */
    background: transparent; /* Fondo transparente para el área de desplazamiento */
}

/* Estilo para ocultar la barra de desplazamiento en otros navegadores */
.torso-central {
    -ms-overflow-style: none; /* Oculta la barra de desplazamiento en Internet Explorer y Edge */
    scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
}
