*{
    margin: 0;
    padding: 0;
}

.top{
    color:white;
    background-color: black;
    height: 15vh;
    width: 100%;
    text-align: center;
}
.torso{
    display: grid;
    grid-template-columns: 15% 85%;
    background-color: grey;
    height: 85vh;
}
.torso-lateral{
    background-color: white;
    height: 85vh;
    display: grid;
    grid-template-rows: 40px 40px;
}